<html>
<head>
    <title>CV [FIRST] [PRE] [LAST]</title>
</head>
<body>
    <h1 class="top">[FIRST] [PRE] [LAST]</h1>
    <br />
    <br />
    <p>First Name: [FIRST]</p>
    <p>Prefix: [PRE]</p>
    <p>Last Name: [LAST]</p>
    <p>Residence: [RESIDENCE]</p>
    <p>Country: [COUNTRY]</p>
    <p>Date of Birth: [DOB]</p>
    <p>License: [LICENSE]</p>
    <br />
    <p>
        Profile: <br />
        [PROFILE]
    </p>
    <br />
    <div id="EducationDiv">
        <h2>Educations</h2>
    </div>
    <br />
    <div id="WorkDiv">
        <h2>Work Experiences</h2>
    </div>
    <br />
    <div id="CourseDiv">
        <h2>Courses</h2>
    </div>
    <br />
    <div id="SidelineDiv">
        <h2>Sidelines</h2>
    </div>
    <br />
    <div id="LanguageDiv">
        <h2>Languages</h2>
    </div>
    <br />
    <div id="SkillDiv">
        <h2>Skills</h2>
    </div>
    <br />
    <div id="HobbyDiv">
        <h2>Hobbies</h2>
    </div>
    <br />
    <div id="CompetenceDiv">
        <h2>Competences</h2>
    </div>
    <br />
    <div id="ReferenceDiv">
        <h2>References</h2>
    </div>
</body>
</html>