@model ResumeStripper.Models.AccountModels.ViewModels.CompanyAdminPanelViewModel
    @{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Admin Panel</title>
    </head>
    <body>
        <div>
        </div>
    </body>
</html>
