@model ResumeStripper.Models.AccountModels.ViewModels.DashboardViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    <h1>Hello, @Model.Emailaddress!</h1>
    <br/>
    @Html.ActionLink("To The Resumestripper!", "Index", "Cv", null, null)
    <br/>
    @Html.ActionLink("Log out!", "LogOut", "User", null, null)
</div>
</body>
</html>
