@model ResumeStripper.Models.Viewmodels.MessageViewModel

@{
    ViewBag.Title = "Resume Stripper";
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/Scripts/Dashboard")



<div class="wrapper">
    <div class="sidebar" data-color="orange" data-image="~/Content/img/sidebar.jpg">
        <div class="sidebar-wrapper">
            <div class="logo">
                <img class="sidebar-logo" src="~/Content/img/logo-glow.png" alt="EHV Talent" width="100%" />
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="dashboard.html">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>

                <li class="active-pro">
                    <a href="#">
                        <i class="pe-7s-door-lock"></i>
                        <p>Log out</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse">

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="">
                                <p>My account</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Log out</p>
                            </a>
                        </li>
                        <li class="separator hidden-lg"></li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content all-icons">

            <div class="container-fluid">
                <div class="row">

                    <!-- Kaart links -->
                    <div class="col-md-6">
                        <div class="card">
                            <div class="header">
                                <h4 style="display: inline-block;" class="title">Resume applicant</h4>
                                @using (Html.BeginForm("Upload", "CV", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()

                                    //<input type="file" name="pdf" accept="application/pdf" />
                                    <input type="file" name="pdf" accept="application/pdf" onchange="this.form.submit();" />

                                    //<input type="submit" value="Upload" />
                                }
                                <hr>
                                <br />
                                @{

                                    //var mod = (ResumeStripper.Models.Viewmodels.MessageViewModel)ViewData["UploadedPdf"];
                                    if (Model != null)
                                    {
                                        <embed src="@Model.Text" type="application/pdf" width="100%" height="100%" />

                                        @*HtmlString s = new HtmlString(Model.Text);
                                            @s*@
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <!-- Kaart rechts -->
                    <div class="col-md-6">
                        <div class="card">
                            <div class="header">
                                <h4 style="display: inline-block;" class="title">Resume EHV</h4><img align="right"
                                                                                                     src="~/Content/img/icon-download.png" />
                                <hr>

                                <img src="~/Content/img/ehv-talent-logo.png" alt="EHV Talent" align="right">

                                <style>
                                    .divsenn {
                                        margin-top: 150px;
                                    }

                                    h4 {
                                        font-weight: bold;
                                    }
                                </style>

                                <div class="divsenn">
                                    <h3 style="color: #ff700d"><strong>CV (Naam kandidaat)</strong></h3>
                                    <hr>
                                </div>

                                <!-- Personalia -->
                                <div margin-top="40px">
                                    <h4 style="color: #ff700d">Personalia</h4>
                                    <span><button>Voornaam</button></span><br />
                                    <span><button>Tussenvoegsel</button></span><br />
                                    <span><button>Achternaam</button></span><br />
                                    <span><button>Woonplaats</button></span><br />
                                    <span><button>Land</button></span><br />
                                    <span><button>Geboortedatum</button></span><br />
                                    <span><button>Rijbewijs categorie</button></span><br />
                                </div>

                                <!-- profielschets -->
                                <div margin-top="40px">
                                    <h4 style="color: #ff700d">Profielschets</h4>
                                    <span><button>Profielschets</button></span>
                                </div>

                                <!-- Opleidingen -->
                                <div margin-top="40px">
                                    <h4 style="color: #ff700d">Opleidingen</h4>


                                    <div class="row">
                                        <div class="col-md-4">
                                            <span><button>Begindatum</button></span> -
                                            <span><button>Einddatum</button></span><br /><span><button>Studirichting</button></span>
                                        </div>
                                        <div class="col-md-4">
                                            <span><button>Naam opleidingsinstituut</button></span><br /><span><button>Niveau</button></span>
                                        </div>
                                        <div class="col-md-4">
                                            <span><button>Plaats opleidingsinstituut</button></span>
                                        </div>
                                    </div>
                                    <span>Diploma <u><button>Ja</button></u>/<u><button>Nee</button></u></span><br /><span><button>+</button></span>
                                </div>

                                <!-- Werkervaring -->
                                <div margin-top="40px">
                                    <h4 style="color: #ff700d">Werkervaring</h4>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <span><button>Begindatum</button></span> - <span><button>Einddatum</button></span><br />
                                        </div>
                                        <div class="col-md-4">
                                            <span><button>Bedrijf</button></span><br />
                                        </div>
                                        <div class="col-md-4">
                                            <span><button>Plaats</button></span>
                                        </div>
                                    </div>
                                    <span><button>Functie</button></span><br /><span><button>Taakomschrijving</button></span><br /><span><button>+</button></span>
                                </div>

                                <!-- Cursussen en trainingen -->
                                <div margin-top="40px">
                                    <h4 style="color: #ff700d">Cursussen en trainingen</h4>
                                    <span><button>Jaartal</button></span><br /><span><button>Naam cursus/training</button></span><br /><span><button>Certificaat</button></span><br /><span><button>+</button></span>
                                </div>

                                <!-- Vaardigheden -->
                                <div margin-top="40px">
                                    <h4 style="color: #ff700d">Vaardigheden</h4>
                                    <h5 style="color: #ff700d"><strong>Talenkennis</strong></h5>
                                    <span><button>Taal</button></span>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <span><button>Luistervaardigheid</button></span><br /><span><button>Beoordeling</button></span>
                                        </div>
                                        <div class="col-md-4">
                                            <span><button>Spreekvaardigheid</button></span><br /><span><button>Beoordeling</button></span>
                                        </div>
                                        <div class="col-md-4">
                                            <span><button>Schrijfvaardigheid</button></span><br /><span><button>Beoordeling</button></span>
                                        </div>
                                    </div>
                                    <span><button>+</button></span>

                                    <BR><BR>
                                    <h5 style="color: #ff700d"><strong>Competenties</strong></h5>
                                    <span><button>Competenties</button></span><br /><br />
                                    <h5 style="color: #ff700d"><strong>Hobby's</strong></h5>
                                    <span><button>Hobby's</button></span><br /><br />
                                    <h5 style="color: #ff700d"><strong>Nevenactiviteiten</strong></h5>
                                    <span><button>Nevenactiviteiten</button></span><br /><br />
                                    <h5 style="color: #ff700d"><strong>Referenties</strong></h5>
                                    <span><button>Referenties</button></span><br /><br />
                                    <h5 style="color: #ff700d"><strong>Skills</strong></h5>
                                    <span><button>Skills</button></span><br /><br />
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#">
                                    Dashboard
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    My account
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    EHV Talent
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    EHV Projects
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script>
                        <a href="http://www.ehv.nl">EHV Talent</a>
                    </p>
                </div>
            </footer>

        </div>
    </div>

</div>
